// scss-lint:disable all
// Core Admin Variables

$border-color: $gray-200 !default;
$layout-transition-speed: 0.25s !default;

// Navbar

$navbar-height: 55px !default;
$navbar-bg: #fff !default;
$navbar-border: (bottom: (size: 1px, style: solid, color: $border-color))
    !default;
$navbar-brand-width: 155px !default;
$navbar-brand-bg: #fff !default;
$navbar-brand-logo: url("../assets/img/logo.png") !default;
$navbar-brand-logo-size: 70px auto !default;
$navbar-brand-border: (bottom: (size: 1px, style: solid, color: $border-color))
    !default;

$navbar-brand-minimized-width: 50px !default;
$navbar-brand-minimized-bg: $navbar-brand-bg !default;
$navbar-brand-minimized-logo: url("../assets/img/logo-symbol.png") !default;
$navbar-brand-minimized-logo-size: 24px !default;
$navbar-brand-minimized-border: $navbar-brand-border !default;

$navbar-color: $gray-600 !default;
$navbar-hover-color: $gray-800 !default;
$navbar-active-color: $gray-800 !default;
$navbar-disabled-color: $gray-300 !default;

$navbar-toggler-icon: str-replace(
        url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-color}' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"),
        "#",
        "%23"
    )
    !default;
$navbar-toggler-icon-hover: str-replace(
        url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-hover-color}' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"),
        "#",
        "%23"
    )
    !default;

// Sidebar

$sidebar-width: 200px !default;
$sidebar-padding: 0 !default;
$sidebar-minimized-width: 50px !default;
$sidebar-minimized-height: $sidebar-minimized-width !default;
$sidebar-compact-width: 150px !default;
$sidebar-compact-height: $sidebar-compact-width !default;
$sidebar-color: #fff !default;
$sidebar-bg: $gray-800 !default;
$sidebar-borders: none !default;
$mobile-sidebar-width: 220px !default;

// Top Navigation

$top-nav-bg: #fff !default;
$top-nav-color: $body-color !default;
$top-nav-borders: (bottom: (size: 1px, style: solid, color: $border-color))
    !default;
$top-nav-ul-borders: (all: (size: 1px, style: solid, color: $border-color))
    !default;

$top-nav-hover-color: #fff !default;
$top-nav-hover-bg: theme-color("primary") !default;
$top-nav-active-color: #fff !default;
$top-nav-active-bg: theme-color("primary") !default;
$top-nav-height: $navbar-height - 15px !default;

// Breadcrumb
$breadcrumb-borders: (bottom: (size: 1px, style: solid, color: $border-color))
    !default;

// Footer

$footer-height: 50px !default;
$footer-bg: $gray-100 !default;
$footer-color: $body-color !default;
$footer-borders: (top: (size: 1px, style: solid, color: $border-color)) !default;
